@charset "UTF-8";
*{
	color:#2d21dc;
}



.globalMenuSp{
	display:flex;
}
li{
	text-align:left;
	list-style: none;
}

h1{
	padding: 0 0 0 380px;
}

body{
	text-align:center;
}


#report{
	padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
    width:830px;
}
/*#switch1{
	 display: block;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}
.btn {
  float: left;
  width: 200px;
  margin: 0 0 2rem 10px;
  padding: 5px;
  font-size: 1.6rem;
  text-align: center;
  background: #CCC;
  color: #FFF;
  border-bottom: 4px solid rgba(0, 0, 0, .2);
  }
.btn:hover {
  opacity: .8;
  cursor: pointer;
  }
.inactive { opacity: .5; }
.inactive:hover {
  opacity: .5;
  cursor: default;
  }
.boxDisplay { display: block; }
.boxNone { display: none; }*/
