@charset "UTF-8";
.globalMenuSp{
	display:flex;
}
li{
	text-align:left;
	list-style: none;
}
h1{
	padding: 0 300px 0 300px;
}
body{
	text-align:center;
}


#report{
	padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
}
