@charset "UTF-8";

header{
	text-align:center;
}

h2 {
	padding: 0 auto 0 auto;
	font-size: 40px;
	text-align : center;
	text-decoration-line: underline;
	text-underline-offset: 5px;
	text-decoration-thickness: 2px;
	text-align: center;
}
.label{
	padding : 0 auto 1em auto;
}
.avater_photo{

	display: flex;
}
.photo-group{
  text-align:center;
  padding: 0 2em 0 2em;
  height:100px;
  border:solid 1px #CCC;
  border-top:none;
  background:#eee;
  width:340px;
  height:580px;
}

.result_message {
	float:left;
    padding: 0.5em 0 0 0;
    margin: 0 0 0 5em;
    border: double 5px  #eb1a94;
}
.result_message p {
    margin: 0;
    padding: 0;
}
.score {
	text-align: center;
    padding: 0 0 0 0 ;
    margin: 0 0;
    color: #FFF;
    background: #eb1a60;
    border-bottom: solid 6px #d1084c;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.score p {
    margin: 0;
    padding: 0;
}
.next {
  margin: 510px 0 0 0;
  float:right;
  font-weight: bold;
  padding: 1em 0.5em ;
  text-decoration: none;
  color: #FFF;
  background: #eb1a60;
  transition: .4s;


}

.next > span {
  border-bottom: solid 2px #FFF;
  border-top: solid 2px #FFF;
}

.next span {
  padding: 0.1em 0;

}

.label {
	text-align: center;
    padding: 0.5em 1em;
    margin: 5em 15em 1em  10em;
    color: #FFF;
    background: #eb1a60;
    border-bottom: solid 6px #d1084c;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.label p {
    margin: 0;
    padding: 0;
}

.tab-group{
  display: flex;
  text-align:left;
  justify-content: center;
	width:300px;
	height:40px;
	margin: 0 0 0 0 ;
}
.tab{
  flex-grow: 1;
  padding:5px;
  list-style:none;
  border:solid 1px #CCC;
  text-align:center;
  cursor:pointer;
  display:inline;
}
/*---------------------------*/
.panel-group{
  height:100px;
  border:solid 1px #CCC;
  border-top:none;
  background:#eee;
width:750px;
 height:380px;
}
.panel{
  display:none;
}
.tab.is-active{
  background:#eb1a60;
  color:#FFF;
  transition: all 0.2s ease-out;
}
.panel.is-show{
  display:block;
}
.stampcard{
	width:750px;
 height:380px;
}
.stamp_image{
	width:100px;
 height:50px;
}
